<%- include('../includes/confirm-reset-top.ejs') %>

	<form action='/confirm/email?_csrf=<%= csrfToken %>' method='POST' class='quicksand rounded-md border border-color-005 p-6 flex flex-col'>
		<p class='m-0 mb-3'>Enter your email address</p>
		<input type="email" name="email" value="<%= oldInput.email %>" class="focus:outline-none py-3 px-4 border border-color-005 bg-transparent">
		<div class='mt-4'>
			<button type='submit' class='text-white p-2 rounded bg-palette-300 active:bg-palette-400 sm:rounded-md active:outline-none focus:outline-none'>confirm</button>
		</div>
	</form>

<%- include('../includes/confirm-reset-end.ejs') %>

				