<%- include('../includes/auth-base-top.ejs') %>

<form class='p-6 border border-solid'>
	<div class='mb-3 flex flex-col'>
		<p class="text-gray-600 mb-2 text-sm">Email</p>
		<input type="email" name="email" class='focus:outline-none text-gray-600 p-3 w-full' id='email'>
	</div>
	<div class='mb-5 flex flex-col'>
		<p class="text-gray-600 mb-2 text-sm">Password</p>
		<input type="password" name="password" class='focus:outline-none text-gray-600 p-3 w-full' id='password'>
	</div>
	<div class='text-right mb-3'>
		<button type='submit' class='text-white p-2 rounded-md'>login</button>
	</div>
	<div class='text-right mb-3 flex flex-col'>
		<a href="/signup" class='text-gray-600 mb-2'>new account</a>
		<a href="" class='text-gray-600'>forgot password</a>
	</div>
	<input type="hidden" id='auth-action' value='login'>
</form>

<%- include('../includes/auth-base-end.ejs') %>
