
.page-container
{
	background:#F8F8F8;
	/*background:#EBBAC1*/
}

.form-container
{
	width:350px;
}

form
{
	border-radius:30px 30px 30px 0;
}

input
{
	background:#F0F0F0;
}

input:focus
{
	background:rgba(0,0,0,0.1);
}

button
{
	background:#8E5572;
}

@media(max-width:576px)
{
	form
	{
		border-radius:5px;
	}
}
