
				</div>
			</div>
		</div>

		<div class='fixed h-64 w-64 flex flex-row items-end justify-end p-32 z-10 box-content rounded-full bg-palette-300 text-white quicksand side__motif__error'>
		</div>

		<script type="text/javascript" src='/js/jquery.js'></script>
		<script type="text/javascript" src="/js/auth/confirm.js"></script>
	</body>
</html>