				
				</div>
				<div class='col-start-10 col-end-13 pt-16'>
					
				</div>
			</div>
		</div>

		<script type="text/javascript" src='/js/jquery.js'></script>
		<script type="text/javascript" src='/js/auth-index.js'></script>
		<% if(path == '/create/activity') { %>
			<script type="text/javascript" src='/js/create-activity.js'></script>
			<script type="text/javascript" src='/js/validate-create-activity.js'></script>
		<% } %>
	</body>
</html>