				
				</div>
				<div class='pt-16 col-start-10 col-end-13 flex flex-col items-center'>
					<div class='w-4/5 baloo-bhaina text-gray-600'>
						<div class='flex flex-col px-4 py-8 mb-6 mr-4 rounded-lg' style='background:rgba(0,0,0,0.01)'>
							<p class='m-0 mb-2 ml-1'>Milestone Completion</p>
							<div class='relative rounded-md p-1' style='background:rgba(0,0,0,0.03)'>
								<div class='absolute w-3/5 top-0 h-full bg-palette-300 rounded'>
									
								</div>
							</div>
						</div>
						<div class='flex flex-row items-center mb-6'>
							<div class='w-16 h-16 rounded-full flex flex-row justify-center border border-color-005 items-center mr-4' style='background-color:rgba(0,0,0,0.03);'>
								<i class='fa fa-tasks' style="color:#8E5572;"></i>
							</div>
							<div class='flex flex-col w-24 items-center'>
								<p class='m-0 mt-2 text-base mb-1'T>Activities</p>
								<p class='m-0 text-xl'><%= activityCount %></p>
							</div>
						</div>
						<div class='flex flex-row items-center mb-6'>
							<div class='w-16 h-16 rounded-full flex flex-row justify-center items-center mr-4 border border-color-005' style='background-color:rgba(0,0,0,0.03);'>
								<i class='fa fa-trophy' style="color:#8E5572;"></i>
							</div>
							<div class='flex flex-col items-center w-24'>
								<p class='m-0 mt-2 text-base mb-1'>Milestones</p>
								<p class='m-0 text-xl'>2/5</p>
							</div>
						</div>
						<div class='flex flex-row items-center mb-6'>
							<div class='w-16 h-16 rounded-full flex flex-row justify-center items-center mr-4 bg-white border border-color-005'>
								<i class='fa fa-skating' style="color:#8E5572;"></i>
							</div>
							<div class='flex flex-col items-center w-24'>
								<p class='m-0 mt-2 text-base mb-1'>Actions</p>
								<p class='m-0 text-xl'><%= actionCount %></p>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>

		<script type="text/javascript" src='/js/jquery.js'></script>
		<script type="text/javascript" src='/js/auth-index.js'></script>
		<% if(path == '/create/activity') { %>
			<script type="text/javascript" src='/js/create-activity.js'></script>
			<script type="text/javascript" src='/js/validate-create-activity.js'></script>
		<% } %>
	</body>
</html>