<!DOCTYPE html>
<html>
	<head>
		<title><%= pageTitle %></title>
		<%- include('./includes/styles.ejs') %>
		<link rel="stylesheet" type="text/css" href="css/auth-index.css">
	</head>
	<body>
		<div class='w-screen min-h-screen' style='background:#fbfbfb;'>
			<div class='grid grid-cols-12'>
				<div class='col-start-1 col-end-4 flex flex-row items-center justify-center p-3 h-screen'>
					<div class='bg-white h-screen border quicksand w-4/5 rounded-lg flex flex-col p-5' style='height:80%; border-color:rgba(0,0,0,0.05);'>
						<div class='flex flex-col items-center mb-6'>
							<div class='w-16 h-16 relative mb-2'>
								<img src="images/abiodun.jpg" class='w-full h-full object-cover rounded-full'>
								<div class='rounded-full absolute top-0 w-full h-full' style='background:rgba(0,0,0,0.1); cursor: pointer;'></div>
							</div>
							<p class='text-sm font-semibold m-0'>Fambegbe Olamileke</p>
							<p class='m-0 text-xs'>olamileke.dev@gmail.com</p>
						</div>
						<ul class='px-4 text-sm text-md text-gray-600'>
							<li class='mb-4 flex flex-row text-white bg-palette-300 rounded-md py-2 px-4 font-semibold'>
								<i class='fa fa-pager mr-5 mt-1'></i> <a href="/" class='relative' style='top:1px'>Dashboard</a>
							</li>
							<li class='mb-4 flex flex-row py-2 px-4'>
								<i class='fa fa-plus-circle mr-4 mt-1 text-md'></i> <a href="/" class='relative' style='top:1px; left:2px;'>New Project</a>
							</li>
							<li class='mb-4 flex flex-row py-2 px-4'>
								<i class='fa fa-calendar-week mr-5 mt-1'></i> <a href="/" class='relative' style='top:1px'>Projects</a>
							</li>
							<li class='mb-4 flex flex-row py-2 px-4'>
								<i class='fa fa-wave-square mr-4 mt-1'></i> <a href="/" class='relative' style='top:1px'>Visualizations</a>
							</li>
							<li class='mb-4 flex flex-row py-2 px-4'>
								<i class='fa fa-file-export mr-5 mt-1'></i> <a href="/" class='relative' style='top:1px; left:-1px;'>File Downloads</a>
							</li>
							<li class='mb-4 flex flex-row py-2 px-4'>
								<i class='fa fa-sign-out-alt mr-5 mt-1'></i> <a href="/logout" class='relative' style='top:1px'>Logout</a>
							</li>
						</ul>
					</div>
				</div>
				<div class='col-start-4 col-end-10 quicksand pt-12'>
					<div class='grid grid-cols-12 col-gap-2 mb-2'>
						<div class='col-span-6 h-32 rounded relative' style='background:url("images/auth-index/projects-backdrop.jpg"); background-size:cover; font-family:"Baloo Bhaina 2", cursive;'>
							<div class='absolute top-0 w-full h-full flex flex-row items-end justify-between text-white p-4' style='background:rgba(0,0,0,0.45)'>
								<p class="text-lg m-0">Projects</p>
								<div class='h-8 w-8 pt-1 flex flex-row justify-center items-center rounded-full bg-gray-100 text-black'>
									32
								</div>
							</div>
						</div>
						<div class='col-span-6 h-32 rounded relative' style='background:url("images/auth-index/milestones-backdrop.jpg"); background-size:cover; font-family:"Baloo Bhaina 2", cursive;'>
							<div class='absolute top-0 w-full h-full flex flex-row items-end justify-between text-white p-4' style='background:rgba(0,0,0,0.45)'>
								<p class="text-lg m-0">Milestones</p>
								<div class='h-8 w-8 pt-1 flex flex-row justify-center items-center rounded-full bg-gray-100 text-black'>
									16
								</div>
							</div>
						</div>
					</div>
					<div class='col-span-12 h-32 mb-2 rounded-md relative' style='background:url("images/auth-index/milestones-percent-backdrop.jpg"); background-size:cover; font-family:"Baloo Bhaina 2", cursive;'>
						<div class='absolute top-0 h-full w-full flex flex-row items-center text-white p-4' style='background:rgba(0,0,0,0.45)'>
							<div class='w-full'>
								<p class='m-0 mb-3 text-lg'>62% milestones completion</p>
								<div class='relative'>
									<div class='p-1 bg-gray-100 rounded-sm'></div>
									<div class='p-1 rounded-sm absolute top-0' style='width:62%; background:green;'></div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>