<%- include('includes/loggedin-top.ejs') %>

<div class='grid grid-cols-12 col-gap-2 mb-2'>
	<div class='col-span-6 h-32 rounded relative' style='background:url("images/auth-index/projects-backdrop.jpg"); background-size:cover; font-family:"Baloo Bhaina 2", cursive;'>
		<div class='absolute top-0 w-full h-full flex flex-row items-end justify-between text-white p-4' style='background:rgba(0,0,0,0.45)'>
			<p class="text-lg m-0">Projects</p>
			<div class='h-8 w-8 pt-1 flex flex-row justify-center items-center rounded-full bg-gray-100 text-black'>
				32
			</div>
		</div>
	</div>
	<div class='col-span-6 h-32 rounded relative' style='background:url("images/auth-index/milestones-backdrop.jpg"); background-size:cover; font-family:"Baloo Bhaina 2", cursive;'>
		<div class='absolute top-0 w-full h-full flex flex-row items-end justify-between text-white p-4' style='background:rgba(0,0,0,0.45)'>
			<p class="text-lg m-0">Milestones</p>
			<div class='h-8 w-8 pt-1 flex flex-row justify-center items-center rounded-full bg-gray-100 text-black'>
				16
			</div>
		</div>
	</div>
</div>
<div class='col-span-12 h-32 mb-2 rounded-md relative' style='background:url("images/auth-index/milestones-percent-backdrop.jpg"); background-size:cover; font-family:"Baloo Bhaina 2", cursive;'>
	<div class='absolute top-0 h-full w-full flex flex-row items-center text-white p-4' style='background:rgba(0,0,0,0.45)'>
		<div class='w-full'>
			<p class='m-0 mb-3 text-lg'>62% milestones completion</p>
			<div class='relative'>
				<div class='p-1 bg-gray-100 rounded-sm'></div>
				<div class='p-1 rounded-sm absolute top-0' style='width:62%; background:green;'></div>
			</div>
		</div>
	</div>
</div>

<%- include('includes/loggedin-end.ejs') %>