<!DOCTYPE html>
<html>
	<head>
		<title><%= pageTitle %></title>
		<%- include('includes/styles.ejs') %>
		<link rel="stylesheet" type="text/css" href="css/index/index.css">
	</head>
	<body class='overflow-x-hidden'>
		<div class='w-screen'>
			<div class='grid grid-cols-12 h-screen gap-0'>
				<div class='col-span-12 py-6 px-16 flex justify-between navigation'>
					<div class='font-bold'>Milestones</div>
					<div>
						<a href="" class='text-gray-500 z-10 text-base mr-5'>signup</a>
						<a href="" class='text-base rounded-md text-white p-2 login'>login</a>
					</div>
				</div>
				<div class='col-start-3 col-end-6 flex flex-col pt-24 mt-4' style='height:calc(100vh - 72px)'>
					<p class='m-0 brand-text text-4xl'>Milestones</p>
					<p class='mb-2 text-gray-600' style='font-family:"Quicksand", sans-serif;'>noun (plural)</p>
					<ol class='brand-definition text-lg text-gray-700'>
						<li>
							1. important events in the development or history of something or in someone's life
						</li>
						<li>
							2. an important point in progress or development
						</li>
					</ol>
					
					<a href="" class='hover:mt-4 mt-5 rounded-full p-2 text-white text-center w-2/5 get-started'>Get Started</a>
				</div>
				<div class='col-start-7 col-end-12 pt-4' style='height:calc(100vh - 72px)'>
					<img src="images/index/celebrate.svg">
				</div>
			</div>	
			<div class='grid grid-cols-12 text-about py-16 text-white'>
				<div class='col-start-3 col-end-6 leading-7 text-widest text-lg flex flex-col mb-16'>
					<p class='m-0 mb-4 text-sm font-bold'>FEATURES</p>
					<p class='m-0 mb-3'>What exactly is Milestones and what does it offer ?</p>
					<div style='width:fit-content;'>
						<p class='text-xs font-bold'>LEARN MORE</p>
						<div class='bg-white w-full' style='height:1px;'></div>
					</div>
				</div>
				<div class='col-start-7 col-end-10 flex flex-col mb-16'>
					<div class='flex mb-2'>
						<i class='fa fa-random mr-5 mt-1'></i>
						<div class='m-0'><p class='font-bold text-sm text-justify mb-3'>RECORD YOUR ACHIEVEMENTS IN REAL TIME</p>
						<p>Keep good track of your achievements and new heights attained always. Big or small, track these advancements and celebrate yourself. After all, you alone know the hard work you put in!</p>
						</div>
					</div>
				</div>
				<div class='col-start-3 col-end-6 flex flex-col'>
					<div class='flex mb-2'>
						<i class='fa fa-random mr-5 mt-1'></i>
						<div class='m-0'><p class='font-bold text-sm text-justify mb-3'>RECORD YOUR ACHIEVEMENTS IN REAL TIME</p>
						<p>Keep good track of your achievements and new heights attained always. Big or small, track these advancements and celebrate yourself. After all, you alone know the hard work you put in!</p>
						</div>
					</div>
				</div>
				<div class='col-start-7 col-end-10 flex flex-col'>
					<div class='flex mb-2'>
						<i class='fa fa-random mr-5 mt-1'></i>
						<div class='m-0'><p class='font-bold text-sm text-justify mb-3'>RECORD YOUR ACHIEVEMENTS IN REAL TIME</p>
						<p>Keep good track of your achievements and new heights attained always. Big or small, track these advancements and celebrate yourself. After all, you alone know the hard work you put in!</p>
						</div>
					</div>
				</div>
			</div>	
			<div class='grid grid-cols-12 text-quote'>
				
			</div>
		</div>
	</body>
</html>