<!DOCTYPE html>
<html>
	<head>
		<title><%= pageTitle %></title>
		<%- include('includes/styles.ejs') %>
		<link rel="stylesheet" type="text/css" href="css/index/index.css">
	</head>
	<body class='overflow-x-hidden'>
		<div class='w-screen'>
			<div class='grid grid-cols-12 h-screen gap-0 initial-page'>
				<div class='col-span-12 py-6 px-16 flex justify-between navigation'>
					<div class='font-bold'>Milestones</div>
					<div>
						<a href="/signup" class='text-gray-500 z-10 text-base mr-5'>signup</a>
						<a href="/login" class='text-base rounded-md text-black font-bold p-2 login'>login</a>
					</div>
				</div>
				<div class='col-start-3 col-end-6 flex flex-col pt-24 mt-4' style='height:calc(100vh - 72px)'>
					<p class='m-0 brand-text text-4xl'>Milestones</p>
					<p class='mb-2 text-gray-600' style='font-family:"Quicksand", sans-serif;'>noun (plural)</p>
					<ol class='brand-definition text-lg text-gray-700'>
						<li class='mb-1'>
							I. important events in the development or history of something or in someone's life
						</li>
						<li>
							II. important points in progress or development
						</li>
					</ol>
					
					<a href="/signup" class='hover:mt-4 mt-5 rounded-full p-2 text-white text-center w-2/5 get-started'>Get Started</a>
				</div>
				<div class='col-start-6 col-end-12 px-10 pt-12 mt-2' style='height:calc(100vh - 72px)'>
					<img src="images/index/celebrate.svg">
				</div>
			</div>	
			<div class='grid grid-cols-12 text-about py-16 text-white'>
				<div class='col-start-3 col-end-6 leading-7 text-widest text-lg flex flex-col mb-12'>
					<p class='m-0 mb-4 text-sm font-bold'>FEATURES</p>
					<p class='m-0 mb-3 text-sm font-bold uppercase'>What exactly is Milestones and what does it offer?</p>
					<div style='width:fit-content;'>
						<p class='text-xs font-bold'>LEARN MORE</p>
						<div class='bg-white w-full' style='height:1px;'></div>
					</div>
				</div>
				<div class='col-start-7 col-end-10 flex flex-col mb-12'>
					<div class='flex mb-2'>
						<i class='fa fa-random mr-5 mt-1'></i>
						<div class='m-0'><p class='font-bold text-sm text-justify mb-3'>RECORD YOUR ACHIEVEMENTS IN REAL TIME</p>
						<p>Keep good track of your achievements and new heights attained always. Big or small, track these advancements and celebrate yourself. After all, you alone know the hard work you put in!</p>
						</div>
					</div>
				</div>
				<div class='col-start-3 col-end-6 flex flex-col'>
					<div class='flex mb-2'>
						<i class='fas fa-chart-line mr-5 mt-1'></i>
						<div class='m-0'><p class='font-bold text-sm text-justify mb-3'>CHART YOUR GROWTH OVER TIME</p>
						<p>Access a visual depiction of your continuous growth over time by taking advantage of Milestone's intuitive graphical features to generate charts and graphs of your progress.</p>
						</div>
					</div>
				</div>
				<div class='col-start-7 col-end-10 flex flex-col'>
					<div class='flex mb-2'>
						<i class='fas fa-arrow-circle-down mr-5 mt-1'></i>
						<div class='m-0'><p class='font-bold text-sm text-justify mb-3'>REPORT GENERATION</p>
						<p>Not only can you view and track your achievements and note worthy accomplishments. You can also generate hard copy reports for display amd use elsewhere.</p>
						</div>
					</div>
				</div>
			</div>	
			<div class='grid grid-cols-12 text-quote p-16 text-black'>
				<div class='col-start-2 col-end-6'>
					<img src="images/index/path.png" class='z-40'>
				</div>
				<div class='col-start-7 col-span-4 pt-24'>
					<p class='font-semibold text-2xl mb-3'>A BIT MORE..</p>
					<p class='quote-definition leading-7 text-justify'>
						Milestones was borne out of a desire to centralize and aggregate personal growth information in a single location. Taking advantage of the latest technology. It
						seeks to serve as your crutch as you go about the process of enhancing and bettering yourself.
						See you at the finish line!
					</p>
				</div>
			</div>
			<div class='grid grid-cols-12 col-gap-3 footer py-16 text-white'>
				<div class='col-start-2 col-end-5'>
					<p class='text-xl font-bold mb-5 w-full'>MILESTONES</p>
					<p class="w-full leading-7 text-justify text-tight">
						Your companion on this journey to better, improve and develop yourself. Start achieving, start improving, start recording for posterity.
					</p>
				</div>
				<div class='col-start-5 col-end-9 pl-16 flex flex-col justify-center'>
					<p class='m-0 mb-5 text-xl font-bold'>
						CONTACT
					</p>
					<p class='m-0 mb-3'>
						<i class='fas fa-map-marker-alt mr-3'></i>
						3, Bisi Awosika street, Ologolo, Lekki
					</p>
					<p class='m-0 mb-3'>
						<i class='fas fa-phone-alt mr-3'></i>
						+2348179868840
					</p>
					<p class='m-0'>
						<i class='fa fa-envelope mr-3'></i>
						support@milestones.org
					</p>
				</div>
				<div class='col-start-9 col-end-13 flex flex-col justify-center'>
					<p class='m-0 mb-5 text-xl font-bold'>
						SOCIAL MEDIA
					</p>
					<p class='m-0 mb-3'>
						<i class='fab fa-facebook mr-3'></i>
						<a href='http://facebook.com' target="blank">Facebook</a>
					</p>
					<p class='m-0 mb-3'>
						<i class='fab fa-twitter mr-3'></i>
						<a href='http://twitter.com/f_olamileke' target="blank">Twitter</a>
					</p>
					<p class='m-0'>
						<i class='fab fa-instagram mr-4'></i>
						<a href='http://instagram.com/f_olamileke' target="blank">Instagram</a>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>