
<%- include('includes/loggedin-top.ejs') %>

	<!-- <div class='w-full lg:w-5/6 self-center flex flex-col pt-12 sm:pt-24 lg:pt-8 z-20'>
        <div class='flex flex-row items-center'>
            Visualize milestone data in the
            <select class='ml-2 border border-color-005 p-3 text-gray-600'>
                <option>Last week</option>
                <option>Last two weeks</option>
                <option>Last month</option>
            </select>
        </div>
    </div> -->

<%- include('includes/loggedin-end.ejs') %>