@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

html
{
	scroll-behavior: smooth;
}

.nav-active-none
{
	background:rgba(0,0,0,0.03);
}

.nav__options
{
	left:calc((100% - 100px)/2);
}

.nav__options::before
{
	position:absolute;
	top:-25px;
	content:'';
	display: block;
	border:12px solid rgba(0,0,0,0.5);
	border-right-color:transparent;
	border-top-color:transparent;
	border-left-color:transparent;
}

.side__motif
{
	top:-250px;
	left:-290px;
}

.side__motif__error
{
	top:unset;
	bottom:-400px;
	left:-270px;
}

form button[type="submit"]:hover
{
	border-color:#c5979d;
}


.file__notif
{
	top:-30px;
	left:-3%;
	background:rgba(0,0,0,0.55);
}

.file__notif.visible
{
	opacity:1;
	top:-39px;
}

.file__notif::after
{
	position:absolute;
	top:100%;
	left:calc((100% - 20px)/2);
	content:'';
	border:10px solid rgba(0,0,0,0.55);
	border-right-color:transparent;
	border-left-color:transparent;
	border-bottom-color:transparent;
	display:block;
}

.file__notif.activity.visible
{
	top:-37px;
}

.file__notif.activity::after
{
	left:40%;
}

.error__parent
{
	top:-4vh;
}

.z--9999
{
	z-index:-9999;
}

.activity__dialog
{
	width:400px;
	top:-10vh;
}

.empty__activities__message
{
	top:-15%;
}


input:focus, textarea:focus
{
	background:rgba(0,0,0,0.02);
}


@media(max-width:1025px)
{
	.side__motif, .side__motif__error
	{
		top:unset;
		bottom:-250px;
		left:-250px;
	}
}


@media(max-width:1025px)
{
	.side__motif, .side__motif__error
	{
		bottom:-375px;
		left:-250px;
	}
}


@media(max-width:768px)
{
	.activity__dialog
	{
		width:350px;
	}
}

@media(max-width:576px)
{
	.error__parent
	{
		top:0;
	}

	.create__parent
	{
		width:90%;
	}

	.side__motif, .side__motif__error
	{
		bottom:-400px;
		left:-300px;
	}

	.empty__activities__message
	{
		top:-18%;
	}
}


@media(max-width:375px)
{
	.activity__dialog
	{
		width:320px;
	}
}
