
.nav-active-none:hover
{
	background:rgba(0,0,0,0.03);
}

form button[type="submit"]
{
	transition:all 0.5s ease-in;
}

form button[type="submit"]:hover
{
	border-color:#c5979d;
}

input:focus, textarea:focus
{
	background:rgba(0,0,0,0.02);
}
