
.error__parent
{
	top:-4vh;
}


.side__motif
{
	bottom:-180px;
	left:-100px;
}


@media(max-width:1024px)
{
	.side__motif
	{
		bottom:-150px;
		left:-70px;
	}	
}


@media(max-width:576px)
{
	.error__parent
	{
		top:0;
	}

	.side__motif
	{
		bottom:-130px;
		left:-92px;
	}	
}