@tailwind base;

@tailwind components;

@responsive
{
	.alert
	{
		@apply pt-4 pb-2 mb-3 text-center rounded;
		font-family:'Baloo Bhaina 2', cursive;
	}

	.alert-danger
	{
		background:#FCE8E8;
		color:#EE8A8A;
	}

	.alert-success
	{
		background:#DFF0D8;
		color:#468847;
	}
}

@tailwind utilities;

@responsive
{
	.quicksand
	{
		font-family:'Quicksand', sans-serif;
	}
}