@tailwind base;

@tailwind components;

@responsive
{
	.alert
	{
		@apply pt-4 pb-2 mb-3 text-center rounded;
		border-color: rgba(0,0,0,0.05);
		font-family:'Baloo Bhaina 2', cursive;
	}
}

@tailwind utilities;

@responsive
{
	.alert-danger
	{
		background:#FCE8E8;
		color:#EE8A8A;
	}

	.alert-success
	{
		background:#DFF0D8;
		color:#468847;
	}

	.comfortaa
	{
		font-family:'Comfortaa', sans-serif;
	}

	.quicksand
	{
		font-family:'Quicksand', sans-serif;
	}

	.baloo-bhaina
	{
		font-family:'Baloo Bhaina 2', cursive;
	}

	.border-color-005
	{
		border-color:rgba(0,0,0,0.05);
	}

	.bg-palette-100
	{
		background:#EBBAC1;
	}

	.bg-palette-200
	{
		background:#C5979D;
	}

	.bg-palette-300
	{
		background:#8E5572;
	}

	.bg-palette-400
	{
		background:#673759;
	}

	.text-palette-300
	{
		color:#8E5572;
	}
}