@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');


.initial-content
{
	height:calc(100vh - 72px);
}

.get__started
{
	background:#8E5572;
}

.get__started:active
{
	background:#673759;
}


@media(max-width:1024px)
{
	.initial-content
	{
		height:100%;
	}
}

